body{
    background-color: aquamarine;
}
.scoreboard{
    border: 1px solid black;
    background-color: white;
}
#buttons{
    display:flex;
    margin-top: 10%;
    flex-direction: row;
    justify-content: space-around;
}